body {
    background: rgb(206, 170, 239);
}

#title, .subtitle, .post_title {
    color: rgb(114, 3, 114);

}

.post_title {
    font-size: 16px;
    font-size: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

